@import './theme.sass'
  
html 
  font-family: 'Quicksand', sans-serif
  font-size: 14px

@media screen and (min-width: 512px)
  html
    font-size: calc(14px + 6.5 * ((100vw - 512px) / 1600))

@media screen and (min-width: 2000px)
  html
    font-size: 20px

h1
  font-size: 3em

h2 
  font-size: 2.6em

h3
  font-size: 1.6em

h4
  font-size: 1.4em

h5
  font-size: 1.3em

h6
  font-size: 1.2em

p
  font-size: 1.4em
  margin-bottom: 1em
  margin-top: 0

small
  font-size: 0.4em

@for $i from 1 through 6
  h#{$i}
    margin-bottom: 0.5em
    margin-top: 0

.text-light
  color: $text-light

.text-light-faded
  color: $text-light-faded
  
.text-dark
  color: $text-dark

.text-dark-faded
  color: $text-dark-faded
